* {
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    z-index: 0;
    letter-spacing: 1px;
    word-spacing: 2px;
    cursor: none;
}

/* variables */
html {
    --slider-marginLeft: 45%;
    --bumper-marginTop: 100%;
    --passThrough-width: 300px;
    --passThrough-marginLeft: 500px;
    --slider-bg-color: rgb(255, 150, 70);
    --pass-bg-color: rgb(255, 150, 70);
    --bumper-opacity: 1.0;
}


body {
    background: linear-gradient(rgba(45, 68, 85), rgba(36, 54, 68));
    height: 100vh;
}




/* Slider & GameArea */
#slider {
    background-color: var(--slider-bg-color);
    position: fixed;
    width: 70px;
    height: 70px;
    border-radius: 5px;
    margin-top: 150px;
    margin-left: var(--slider-marginLeft);
    z-index: 2;
}



/* Text around slider */
.textClass {
    position: fixed;
    font-family: Chicle, Verdana, Arial;
    color: #cbe5f8;
    text-align: center;
    width: 400px;
    margin-left: -160px;
}

#textArea {
    font-size: 42px;
    top: 70px;
}

#highScore {
    color: #ffd27f;
    font-size: 32px;
    top: 245px;
}



/* Score */
#scoreDiv {
    width: 98%;
    height: 100px;
    position: fixed;
    top: 12px;
}

#score {
    font-family: Arial;
    color: #3f6077;
    font-size: 64px;
    text-align: right;

}

#bumper {
    background-color: #4b738e;
    position: fixed;
    margin-top: var(--bumper-marginTop);
    opacity: var(--bumper-opacity);
    width: 100%;
    height: 25px;
    z-index: 1;
}

#passThrough {
    background-color: var(--pass-bg-color);
    width: var(--passThrough-width);
    margin-left: var(--passThrough-marginLeft);
    height: 100%;
}
