* {
    font-family: Chicle, Verdana, Arial;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    z-index: 0;
    letter-spacing: 1px;
    word-spacing: 2px;
}

#zDiv {
    z-index: -1;
}

#newUser {
    width: 160px;
    margin-left: 80px;
    background: linear-gradient(rgba(45, 68, 85), rgba(36, 54, 68));
    color: #eaeaea;
}

#guest {
    margin-top: 10px;
    width: 252px;
    margin-left: 80px;
    background: linear-gradient(rgba(45, 68, 85), rgba(36, 54, 68));
    color: #eaeaea;
}

#loginButton {
    margin-left: 5px;
    background: linear-gradient(rgba(50,153,50), rgba(0, 128, 0));
    color: #eaeaea;
}

.button {
    margin-top: 20px;
    font-size: 18px;
    height: 35px;
    width: 80px;
    border: none;
    border-radius: 5px;
}

/* Login/startPage*/
.loginText {
    color: #191919;
    position: relative;
    bottom: 2px;
    margin-left: 85px;
    margin-top: 10px;
    font-size: 20px;
}

#userNameText {
    margin-top: 30px
}

.input {
    font-family: Verdana, Arial;
    position: relative;
    border-radius: 3px;
    font-size: 16px;
    width: 250px;
    height: 26px;
    margin-left: 80px;
    border: solid;
    border-color: white;
    transition: 0.5s;
}

#password {
    border-color: var(--border-style-password);
}

#username {
    border-color: var(--border-style-username);
}

.infoClass div {
    position: fixed;
}

#infoDiv {
    top: 20%;
    width: 100%;
}

#titleBox {
    position: relative;
    width: 600px;
    height: 100px;
    left: 50%;
    margin-bottom: 2%;
    margin-left: -300px;
}

#title {
    position: absolute;
    color: #ffd27f;
    text-shadow: 2px 2px 4px #000000;
    font-size: 70px;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

#loginBox {
    width: 400px;
    height: 300px;
    left: 50%;
    margin-left: -200px;
}

#opacityDiv {
    background-color: #add8e6;
    box-shadow: 2px 2px 4px #000000;
    left: 50%;
    margin-left: -200px;
    width: 400px;
    height: 300px;
    border-radius: 5px;
    opacity: 0.6;
}

/* variables */
html {
    --slider-marginLeft: 45%;
    --bumper-marginTop: 1150px;
    --passThrough-width: 300px;
    --passThrough-marginLeft: 500px;
    --slider-bg-color: rgb(255, 150, 70);
    --pass-bg-color: rgb(255, 150, 70);
    --bumper-opacity: 1.0;

    /* input border, color and style */
    --border-style-password: white;
    --border-style-username: white;
}


#canvas {
    position: fixed;
    z-index: -1;
}

body {
    background: linear-gradient(rgba(45, 68, 85), rgba(36, 54, 68));
    height: 100vh;
}


/* Slider & GameArea */
#slider {
    background-color: var(--slider-bg-color);
    position: fixed;
    width: 70px;
    height: 70px;
    border-radius: 5px;
    margin-top: 150px;
    margin-left: var(--slider-marginLeft);
    z-index: 2;
}



/* Text around slider */
.textClass {
    position: fixed;
    letter-spacing: 3px;
    color: #cbe5f8;
    text-align: center;
    width: 400px;
    margin-left: -160px;
}

#textArea {
    font-size: 42px;
    top: 70px;
}

#highScore {
    color: #ffd27f;
    font-size: 32px;
    top: 245px;
}



/* Score */
#scoreDiv {
    width: 98%;
    height: 100px;
    position: fixed;
    top: 12px;
}

#score {
    font-family: Arial;
    color: #3f6077;
    font-size: 64px;
    text-align: right;
}

#bumper {
    background-color: #4b738e;
    position: fixed;
    margin-top: var(--bumper-marginTop);
    opacity: var(--bumper-opacity);
    width: 100%;
    height: 25px;
    z-index: 1;
}

#passThrough {
    background-color: var(--pass-bg-color);
    width: var(--passThrough-width);
    margin-left: var(--passThrough-marginLeft);
    height: 100%;
}
